<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Page</title>
</head>
<body>
<a>Admin: username:admin password:admin1</a>
<form method="post" th:action="@{/auth/login}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <label for="username"> Введите имя пользователя:</label>
    <input type="text" name="username" id="username">
    <br/>
    <label for="password"> Введите пароль:</label>
    <input type="password" name="password" id="password">
    <br/>
    <input type="submit" value="LogIn">

    <div th:if="${param.error}">Неправильное имя пользователя или пароль</div>
</form>
<form th:action="@{/auth/registration}">
    <input type="submit" value="Registration"/>
</form>
</body>
</html>