<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="post" th:action="@{/logout}">
    <input type="submit" value="LogOut"/>
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getUsername()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getEmail()}"></td>
        <td><a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Edit</a></td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>

</table>

<a th:href="@{/admin/new}">New user</a>

</body>
</html>